<h1>Add new venue</h1>

<%= form_for @venue, html: {multipart: true} do |f| %>

<p>Name: <%= f.text_field :name %></p>
<p>Address: <%= f.text_field  :address %></p>
<p>City: <%= f.text_field  :city %></p>
<p>State: <%= f.text_field  :state %></p>
<p><%= f.file_field :photo %></p>

<%= f.submit "Submit" %>
<% end %>

<%= link_to 'Back', {:action => 'myvenues'} %>